.review {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    height: 300px;
    position: relative;
    margin-top: 70px;
}

.review-img img {
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 35%;
}

.review-description {
    position: relative;
    top: 50px;
}