.mom {
    background-color: #FA7D19;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
}

/* .logo {} */


.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: #FA7D19;
}

.logo {
    color: black;
    cursor: pointer;
}


.open {
    top: 0;
}


.close {
    top: -140px;
}


@media only screen and (min-width: 600px) {
    .mom {
        background-color: #FA7D19;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .header-container {
        /* height: 70px; */
        background-color: #FA7D19;
        align-items: center;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: static;
        background-color: #FA7D19;
    }



}